PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bXV0dWFsLXNwaWRlci0xOC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_ETTyur7PugI1Lji1xyAia9JrFTTIcwlcEE6Hl7mKc1
# ASTRO_DB_REMOTE_URL=""
# ASTRO_DB_APP_TOKEN=""
# Webflow CMS API token for syncing inbox items
WEBFLOW_API_TOKEN="" 