---
import { actions } from "astro:actions";
import { db, eq, Notes } from "astro:db";
import Layout from "@/layouts/Layout.astro";
import NoteCard from "@/components/NoteCard.astro";
import CtaButton from "@/components/CtaButton.astro";
import Tab from "@/components/TabBar/Tab.astro";
if (!Astro.locals.auth().userId) {
  return Astro.redirect("/");
}

const user = await Astro.locals.currentUser();

if (!user) {
  return Astro.redirect("/");
}

const result = Astro.getActionResult(actions.notes.create);

const notes = await db.select().from(Notes).where(eq(Notes.userId, user.id));
---

<Layout>
  <main
    class="max-w-screen-sm mx-auto px-6 pe-12 grid grid-rows-[auto_1fr] gap-3"
  >
    <div class="flex bg-(--color-fog-white) items-center gap-2">
      <Tab label="Feed" href="#" active />
    </div>

    <h1 class="text-2xl font-bold">Notes</h1>

    <ul class="grid max-sm:grid-cols-2 sm:grid-cols-3 gap-3 gap-y-4">
      {
        notes.map((note) => (
          <li class="w-full h-full">
            <a class="h-full" href={`/dashboard/notes/${note.id}`}>
              <NoteCard title={note.title ?? ""} content={note.content ?? ""} />
            </a>
          </li>
        ))
      }
    </ul>

    <form
      class="mt-6 flex gap-3 flex-col"
      method="POST"
      action={actions.notes.create}
    >
      <input
        class="bg-[var(--color-fog-white)] py-3 px-3 rounded-xl"
        type="text"
        name="title"
        placeholder="Title"
        required
      />
      <textarea
        class="resize-none bg-[var(--color-fog-white)] py-3 px-3 rounded-xl"
        rows={4}
        name="content"
        required
        placeholder="Content"></textarea>
      <input type="hidden" name="userId" value={user.id} />
      <input type="hidden" name="isPublic" value="false" />
      <button
        class="bg-[var(--color-blue)] text-white py-3 px-3 rounded-xl shadow-[0px_-4px_0px_0px_#0000001A_inset] h-[60px]"
        type="submit">Create Note</button
      >
    </form>

    <CtaButton />
  </main>
</Layout>
