---
import { db, eq, Notes, and } from "astro:db";
import { z } from "zod";
import Layout from "@/layouts/Layout.astro";
import IconButton from "@/components/IconButton.astro";
import FaQuestionIcon from "@fortawesome/fontawesome-free/svgs/solid/question.svg";
import ShareIcon from "@fortawesome/fontawesome-free/svgs/solid/share.svg";
import DeleteIcon from "@fortawesome/fontawesome-free/svgs/solid/trash.svg";
import Tab from "@/components/TabBar/Tab.astro";
import ChonkButton from "@/components/ChonkButton.astro";
import NoteStickyIcon from "@fortawesome/fontawesome-free/svgs/solid/note-sticky.svg";
const { id } = Astro.params;

if (!id || z.number({ coerce: true }).safeParse(id).success === false) {
  return Astro.redirect("/dashboard/notes");
}

const numericId = parseInt(id);
const currentUser = Astro.locals.auth();
const userId = currentUser ? currentUser.userId : null;

if (!userId) {
  return Astro.redirect("/login");
}

const notes = await db
  .select()
  .from(Notes)
  .where(and(eq(Notes.id, numericId), eq(Notes.userId, userId as string)))
  .limit(1);

if (!notes.length) {
  return Astro.redirect("/dashboard/notes");
}

const noteData = notes[0];
---

<Layout title="Note">
  <section class="bg-(--color-fog-white) pt-3">
    <div class="px-6 mx-auto max-w-screen-sm flex items-center gap-2">
      <Tab label="Feed" href="/dashboard" />
      <Tab label="Note" active />
    </div>
  </section>

  <main
    class="max-w-screen-sm mx-auto px-6 pt-6 pb-12 grid grid-rows-[auto_1fr] gap-3"
  >
    <section class="px-1 py-2 flex items-center gap-2">
      <a href={`/dashboard/notes/${noteData.id}/edit`}>
        <IconButton size="md">
          <FaQuestionIcon />
        </IconButton>
      </a>
      <h1 class="text-title">{noteData.title || "Untitled Note"}</h1>
    </section>

    <section class="!select-text whitespace-normal flex flex-col gap-4 px-6 py-5 bg-(--color-light-paper) rounded-xl trix-content" set:html={noteData.content}></section>

    <section class="px-1 py-2 flex items-center justify-end gap-2">
      <p class="text-caption text-(--color-stone-grey) w-fit">{noteData.createdAt.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' })}</p>
    </section>
  </main>

  <footer class="fixed bottom-0 left-0 right-0 bg-(--color-pebble-grey) p-3">
    <div class="grid grid-cols-3 gap-3 max-w-screen-sm mx-auto sm:px-6">
      <ChonkButton text="Edit">
        <NoteStickyIcon class="w-[15px] h-[15px] text-inherit fill-current" />
      </ChonkButton>
      <ChonkButton text="Share">
        <ShareIcon class="w-[15px] h-[15px] text-inherit fill-current" />
      </ChonkButton>
      <ChonkButton text="Delete">
        <DeleteIcon class="w-[15px] h-[15px] text-inherit fill-current" />
      </ChonkButton>
    </div>
  </footer>
</Layout>
