@import "tailwindcss";

* {
    @apply shrink-0 select-none;
}
  
[x-cloak] {
    @apply hidden;
}

:root {
    --color-blue: #006EFF;
    --color-navy: #0048A6;
    --color-red: #CE4A2E;
    --color-deep-grey: #4A473D;
    --color-stone-grey: #78766F;
    --color-pebble-grey: #888680;
    --color-paper: #EBE7DB;
    --color-aged-paper: #E6E4DA;
    --color-soft-paper: #EEECE3;
    --color-light-paper: #F7F7F6;
    --color-white: #FFFFFF;
    --color-snow-white: #FAFAFA;
    --color-fog-white: #F7F7F6;
    --color-blessed-blue: #C3E4FF;
    --color-graceful-gold: #F9DE78;
    --color-caring-coral: #FCD1C8;
    --color-mindful-mint: #C7ECBB;
    --color-peaceful-pink: #F7CEEE;
    --color-pleasant-peach: #FCD8A0;
    --color-lovely-lavender: #E8C9FF;
    --surface-primary: var(--color-soft-paper);
    --shadow-primary: 0px 6px 0px 0px #D3D0C5;
    --text-color-primary: var(--color-deep-grey);
    --text-color-secondary: var(--color-stone-grey);
    --color-gradient-gray: linear-gradient(126.64deg, rgba(255, 255, 255, 0.8) 11.71%, #F8F8F8 71.33%);
    --shadow-small: inset 0px -3px 0px rgba(120, 118, 111, 0.2);
}

@theme {
    --font-sans: "Reddit Sans", system-ui, -apple-system, sans-serif;
    --font-mono: "Reddit Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
    --primary-color: var(--color-blue);
}

.text-title {
    @apply font-sans font-semibold text-[20px] leading-[25.98px] tracking-normal;
}

.text-subtitle {
  @apply font-sans font-semibold text-[18px] leading-[100%] tracking-normal;
}

.text-body {
    @apply font-sans font-normal text-[16px] leading-[150%] tracking-normal;
}

.text-caption {
    @apply font-mono font-medium text-[10px] leading-[100%] tracking-normal;
}

.text-button-chonk {
    @apply font-sans font-medium text-[14px] leading-[100%] tracking-normal;
    text-box: trim-both cap alphabetic;
}

/* Trix - https://trix-editor.org/ */
.trix-content h1 {
    @apply font-sans font-medium text-[18px] leading-[100%] tracking-normal;
}

.btn-animate-squish {
    will-change: transform, box-shadow;
    transition: box-shadow 0.125s ease-in-out;
    box-shadow: 0px -3px 0px 0px #78766F33 inset;
}

.btn-animate-squish:active {
    filter: brightness(0.97);
    box-shadow: 
        0px -1px 0px 0px #78766F33 inset,
        0px 1px 0px 0px #78766F33 inset;
}

.btn-animate-squish svg {
    will-change: transform, translate;
    transition: transform 0.125s ease-in-out, translate 0.125s ease-in-out;
}

.btn-animate-squish:active svg {
    translate: 0 0;
    transform: scale(0.95);
}