@import "tailwindcss";

:root {
    --color-blue: #006EFF;
    --color-deep-grey: #4A473D;
    --color-stone-grey: #78766F;
    --color-pebble-grey: #888680;
    --color-paper: #EBE7DB;
    --color-aged-paper: #E6E4DA;
    --color-soft-paper: #EEECE3;
    --color-light-paper: #F7F7F6;
    --color-white: #FFFFFF;
    --color-snow-white: #FAFAFA;
    --color-fog-white: #F7F7F6;
    --color-blessed-blue: #C3E4FF;
    --color-graceful-gold: #F9DE78;
    --color-caring-coral: #FCD1C8;
    --color-mindful-mint: #C7ECBB;
    --color-peaceful-pink: #F7CEEE;
    --color-pleasant-peach: #FCD8A0;
    --color-lovely-lavender: #E8C9FF;
    --surface-primary: var(--color-soft-paper);
}

@theme {
    --font-sans: "Reddit Sans", system-ui, -apple-system, sans-serif;
    --font-mono: "Reddit Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
    --primary-color: var(--color-blue);
}