---
import { SignedIn, SignInButton, SignedOut } from "@clerk/astro/components";

import Layout from "../layouts/Layout.astro";
---

<Layout>
  <SignedOut>
    <SignInButton />
  </SignedOut>
  <SignedIn>
    <a href="/dashboard">Go to Dashboard</a>
  </SignedIn>
</Layout>
