---
import EmptyLayout from "@/layouts/EmptyLayout.astro";
import { SignIn as ClerkSignIn } from "@clerk/astro/components";
---

<EmptyLayout title="Sign In">
  <div class="min-h-screen bg-[var(--color-light-paper)] flex items-center justify-center p-6">
    <ClerkSignIn redirectUrl="/dashboard" />
  </div>
</EmptyLayout>
