---
export interface Props {
  [key: string]: any;
}
---

<button
  class="group [&:active_svg]:-translate-y-0 [&:active_svg]:scale-[0.95] relative rounded-3xl w-10 h-10 cursor-pointer transition-[scale,shadow] duration-300"
  style="background-image: var(--color-gradient-gray)"
  {...Astro.props}
>
  <div class="box-border content-stretch flex flex-row gap-3 items-center justify-center relative rounded-3xl size-full">
    <div class="relative shrink-0 size-5 flex items-center justify-center fill-(--color-pebble-grey) [&>svg]:h-5 [&>svg]:w-5 [&>svg]:-translate-y-0.5 [&>svg]:transition-transform [&>svg]:duration-125">
      <slot />
    </div>
  </div>
</button>

<style>
  button {
    will-change: transform, box-shadow;
    transition:
      box-shadow 0.125s ease-in-out;
    box-shadow: 0px -3px 0px 0px #78766F33 inset;
  }

  button:active {
    filter: brightness(0.97);
    box-shadow: 
      0px -1px 0px 0px #78766F33 inset,
      0px 1px 0px 0px #78766F33 inset;
  }
</style>
