---
interface Props {
  text: string;
  size?: "small" | "medium" | "large";
  variant?: "default" | "warning";
}

const {
  text,
  size = "medium",
  variant = "default",
  ...props
}: Props = Astro.props;

const BUTTON_SIZE_MAP = {
  small: "pt-[6px] pb-[10px] px-[10px] text-[12px] rounded-[6px]",
  medium: "pt-3 pb-4 px-3 text-[14px]",
  large: "pt-6 pb-7 px-6 text-[18px]",
};

const VARIANT = {
  default: "bg-(--color-stone-grey) hover:bg-(--color-deep-grey) active:bg-(--color-deep-grey) text-(--color-white)",
  warning: "bg-(--color-red) hover:bg-(--color-red) active:bg-(--color-red) text-(--color-white)",
};
---

<button {...props} class={`button-inner-shadow rounded-lg flex flex-col items-center gap-2 hover:scale-[.99] active:scale-[.99] transition-transform duration-125 ${BUTTON_SIZE_MAP[size]} ${VARIANT[variant]} ${size === "small" ? "bg-[#EBE7DB]" : ""}`}>
  <div class="flex flex-col items-center gap-2">
    <slot />
    <p class="font-sans font-medium text-inherit leading-[100%] tracking-normal">{text}</p>
  </div>
</button>

<style>
  button {
    box-shadow: 0px -4px 0px 0px #00000040 inset;

    & > div {
      transition: transform 125ms;
    }

    &:hover > div,
    &:active > div {
      transform: translateY(1px);
    }
  }

  button:hover,
  button:active {
    box-shadow:
      0px -2px 0px 0px #0000001a inset,
      0px 0px 2px 0px #00000040,
      0px 2px 0px 0px #00000040 inset;
  }

  p {
    /**
     * We were encountering a bug where the transition was jumpy
     * on button press.
     */
    /* text-box: trim-both cap alphabetic; */
  }
</style>