---
import EditNameColorPanel from './react/EditNameColorPanel';

interface Props {
  firstName?: string;
  lastName?: string;
  selectedColor?: "paper" | "blue" | "yellow" | "green" | "pink" | "orange" | "purple";
}

const { 
  firstName = "", 
  lastName = "", 
  selectedColor = "paper" as const
} = Astro.props;
---

<div class="edit-name-color-panel">
  <EditNameColorPanel 
    firstName={firstName}
    lastName={lastName}
    selectedColor={selectedColor}
    client:only="react"
  />
</div>
