---
import EmailPasswordPanel from './react/EmailPasswordPanel';

interface Props {
  // No props needed for this component
}

const { } = Astro.props;
---

<div class="email-password-panel">
  <EmailPasswordPanel 
    client:only="react"
  />
</div>
