---
import { z } from "zod";

interface Props {
  size: "sm" | "md";
}

const SIZE_MAP = {
  sm: 32,
  md: 44,
};

const sizeSchema = z.enum(["sm", "md"]);

if (!sizeSchema.safeParse(Astro.props.size).success) {
  throw new Error("Invalid size");
}

const size = sizeSchema.parse(Astro.props.size);
---

<button
  class="flex items-center justify-center absolute shadow-[0px_-2.91px_0px_0px_#0000001A_inset] top-3 -right-4 h-8 w-8 bg-[var(--color-paper)] rounded-full"
  style={`width: ${SIZE_MAP[size]}px; height: ${SIZE_MAP[size]}px;`}
>
  <slot />
</button>
