---
import { z } from "zod";

interface Props {
  size: "sm" | "md";
  className?: string;
}

const BUTTON_SIZE_MAP = {
  sm: 32,
  md: 44,
};

const SVG_SIZE_MAP = {
  sm: 15,
  md: 20,
};

const sizeSchema = z.enum(["sm", "md"]);

const { size, className = "", ...props } = Astro.props;

if (!sizeSchema.safeParse(size).success) {
  throw new Error("Invalid size");
}
---

<button
  class={`icon-btn flex items-center justify-center shadow-[0px_-2.91px_0px_0px_#0000001A_inset] text-(--color-stone-grey) fill-(--color-stone-grey) text-(--color-stone-grey) bg-[var(--color-paper)] rounded-full hover:shadow-[0px_-1.5px_0px_0px_#0000001A_inset,0px_0px_2px_0px_#00000040,0px_2px_0px_0px_#00000040_inset] hover:text-(--color-deep-grey) hover:fill-(--color-deep-grey) active:shadow-[0px_-1.5px_0px_0px_#0000001A_inset,0px_0px_2px_0px_#00000040,0px_2px_0px_0px_#00000040_inset] active:text-(--color-deep-grey) active:fill-(--color-deep-grey) ${className}`}
  {...props}
>
  <slot />
</button>

<style
  define:vars={{
    size: BUTTON_SIZE_MAP[size] + "px",
    "svg-size": SVG_SIZE_MAP[size] + "px",
  }}
>
  .icon-btn {
    width: var(--size);
    height: var(--size);
    transition: all 0.08s ease-in-out;

    svg {
      fill: inherit;
      color: inherit;
      width: var(--svg-size);
      height: var(--svg-size);
    }
  }

  .icon-btn:hover,
  .icon-btn:active {
    transform: scale(0.95);
  }
</style>
