---
import { z } from "zod";

interface Props {
  size: "sm" | "md";
}

const BUTTON_SIZE_MAP = {
  sm: 32,
  md: 44,
};

const SVG_SIZE_MAP = {
  sm: 15,
  md: 20,
};

const sizeSchema = z.enum(["sm", "md"]);

if (!sizeSchema.safeParse(Astro.props.size).success) {
  throw new Error("Invalid size");
}

const size = sizeSchema.parse(Astro.props.size);
---

<button
  class="icon-btn flex items-center justify-center absolute shadow-[0px_-2.91px_0px_0px_#0000001A_inset] top-3 -right-4 bg-[var(--color-paper)] rounded-full"
>
  <slot />
</button>

<style
  define:vars={{
    size: BUTTON_SIZE_MAP[size] + "px",
    "svg-size": SVG_SIZE_MAP[size] + "px",
  }}
>
  .icon-btn {
    width: var(--size);
    height: var(--size);

    svg {
      fill: var(--color-stone-grey);
      color: var(--color-stone-grey);
      width: var(--svg-size);
      height: var(--svg-size);
    }
  }
</style>
