---
import MyChurchPanel from './react/MyChurchPanel';

interface Props {
  // No props needed for this component
}

const { } = Astro.props;
---

<div class="my-church-panel">
  <MyChurchPanel 
    client:only="react"
  />
</div>

