---
interface Props {
  title: string;
  content: string;
}

const { title, content } = Astro.props;
---

<section
  class="h-full box-border grid grid-cols-[28px_1fr] bg-white rounded-xl shadow-[var(--shadow-primary)] overflow-hidden"
>
  {/* Side Highlight */}
  <div class="relative h-full w-full bg-[var(--color-light-paper)] py-3">
    {/* Circle Icon */}
    <div
      class="flex items-center justify-center absolute shadow-[0px_-2.91px_0px_0px_#0000001A_inset] top-3 -right-4 h-8 w-8 bg-[var(--color-paper)] rounded-full"
    >
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.125 5.79629C6.125 4.96895 6.79766 4.29629 7.625 4.29629H8.375C9.20234 4.29629 9.875 4.96895 9.875 5.79629V5.88066C9.875 6.3916 9.61484 6.86738 9.18594 7.1416L8.19687 7.77676C7.60625 8.15645 7.25 8.81035 7.25 9.51113V9.54395C7.25 9.95879 7.58516 10.2939 8 10.2939C8.41484 10.2939 8.75 9.95879 8.75 9.54395V9.51113C8.75 9.31895 8.84844 9.14082 9.00781 9.03769L9.99687 8.40254C10.8547 7.84941 11.375 6.9002 11.375 5.87832V5.79395C11.375 4.13691 10.032 2.79395 8.375 2.79395H7.625C5.96797 2.79629 4.625 4.13926 4.625 5.79629C4.625 6.21113 4.96016 6.54629 5.375 6.54629C5.78984 6.54629 6.125 6.21113 6.125 5.79629ZM8 13.2963C8.24864 13.2963 8.4871 13.1975 8.66291 13.0217C8.83873 12.8459 8.9375 12.6074 8.9375 12.3588C8.9375 12.1101 8.83873 11.8717 8.66291 11.6959C8.4871 11.5201 8.24864 11.4213 8 11.4213C7.75136 11.4213 7.5129 11.5201 7.33709 11.6959C7.16127 11.8717 7.0625 12.1101 7.0625 12.3588C7.0625 12.6074 7.16127 12.8459 7.33709 13.0217C7.5129 13.1975 7.75136 13.2963 8 13.2963Z"
          fill="#78766F"></path>
      </svg>
    </div>
  </div>
  <div class="ps-7 flex flex-col gap-1.5 py-3">
    <h2 class="text-[var(--text-color-primary)] text-lg font-bold line-clamp-2">
      {title}
    </h2>
    <p class="text-[var(--text-color-secondary)] text-sm line-clamp-3">
      {content}
    </p>
  </div>
</section>
