---
import ChonkButton from "@/components/ChonkButton.astro";
import LockIcon from "@fortawesome/fontawesome-free/svgs/solid/lock.svg?raw";
import GlobeIcon from "@fortawesome/fontawesome-free/svgs/solid/globe.svg?raw";

interface Props {
  threadId: number | string;
  isPublic?: boolean;
}

const { threadId, isPublic = false } = Astro.props;
---

<div 
  x-data="{ 
    activeDrawer: null,
    toggleDrawer(drawer) {
      if (this.activeDrawer === drawer) {
        this.activeDrawer = null;
        window.dispatchEvent(new CustomEvent('hide-drawer'));
      } else {
        this.activeDrawer = drawer;
        window.dispatchEvent(new CustomEvent('hide-drawer'));
        window.dispatchEvent(new CustomEvent('show-drawer', { detail: { drawer } }));
      }
    }
  }" 
  class="w-full flex items-center"
>
  <div class="button-wrapper">
    <ChonkButton 
      text={isPublic ? "Public" : "Private"}
      size="small"
    >
      {isPublic ? 
        <Fragment set:html={GlobeIcon} class="w-[15px] h-[15px]" /> : 
        <Fragment set:html={LockIcon} class="w-[15px] h-[15px]" />
      }
    </ChonkButton>
  </div>
</div>

<style>
  .button-wrapper {
    cursor: pointer;
  }
</style> 