---
import FaXmarkIcon from "@fortawesome/fontawesome-free/svgs/solid/xmark.svg";
---

<div class="toast bg-(--color-stone-grey) text-white rounded-lg max-w-[366px] mx-auto py-4.5 px-5 grid grid-cols-[1fr_auto] gap-3 items-center">
  <p class="text-subtitle">Note created successfully!</p>
  <FaXmarkIcon class="w-4 h-4 fill-white" />
</div>

<style>
    .toast {
        box-shadow: 0px 4px 4px 0px #00000040;
    }
</style>