---
import FaBoldIcon from "@fortawesome/fontawesome-free/svgs/solid/bold.svg";
import FaItalicIcon from "@fortawesome/fontawesome-free/svgs/solid/italic.svg";
import FaStrikethroughIcon from "@fortawesome/fontawesome-free/svgs/solid/strikethrough.svg";
import FaHeadingIcon from "@fortawesome/fontawesome-free/svgs/solid/heading.svg";
import FaQuoteRightIcon from "@fortawesome/fontawesome-free/svgs/solid/quote-right.svg";
import FaListUlIcon from "@fortawesome/fontawesome-free/svgs/solid/list-ul.svg";
import FaListOlIcon from "@fortawesome/fontawesome-free/svgs/solid/list-ol.svg";
import FaOutdentIcon from "@fortawesome/fontawesome-free/svgs/solid/outdent.svg";
import FaIndentIcon from "@fortawesome/fontawesome-free/svgs/solid/indent.svg";
import FaLinkIcon from "@fortawesome/fontawesome-free/svgs/solid/link.svg";
import FaPaperclipIcon from "@fortawesome/fontawesome-free/svgs/solid/paperclip.svg";
import FaCodeIcon from "@fortawesome/fontawesome-free/svgs/solid/code.svg";
import FaUndoIcon from "@fortawesome/fontawesome-free/svgs/solid/rotate-left.svg";
import FaRedoIcon from "@fortawesome/fontawesome-free/svgs/solid/rotate-right.svg";

interface Props {
  id: string;
  input: string;
}

const { id } = Astro.props as Props;
---

<section id={id} class="bg-(--color-fog-white) rounded-xl p-2 w-full overflow-x-auto [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none]">
  <div class="flex items-center gap-0 flex-nowrap">
    <button class="toolbar-btn" data-trix-attribute="bold" data-trix-key="b">
      {/* @ts-ignore - Icon import in Astro is borked, but works. */}
      <FaBoldIcon />
    </button>

    <button class="toolbar-btn" data-trix-attribute="italic" data-trix-key="i">
      {/* @ts-ignore - Icon import in Astro is borked, but works. */}
      <FaItalicIcon />
    </button>

    <button class="toolbar-btn" data-trix-attribute="strike" data-trix-key="s">
      {/* @ts-ignore - Icon import in Astro is borked, but works. */}
      <FaStrikethroughIcon />
    </button>

    <button class="toolbar-btn" data-trix-attribute="heading1">
      {/* @ts-ignore - Icon import in Astro is borked, but works. */}
      <FaHeadingIcon />
    </button>

    <button class="toolbar-btn" data-trix-attribute="quote">
      {/* @ts-ignore - Icon import in Astro is borked, but works. */}
      <FaQuoteRightIcon />
    </button>

    <button class="toolbar-btn" data-trix-attribute="code">
      {/* @ts-ignore - Icon import in Astro is borked, but works. */}
      <FaCodeIcon />
    </button>

    <button class="toolbar-btn" data-trix-attribute="bullet">
      {/* @ts-ignore - Icon import in Astro is borked, but works. */}
      <FaListUlIcon />
    </button>

    <button class="toolbar-btn" data-trix-attribute="number">
      {/* @ts-ignore - Icon import in Astro is borked, but works. */}
      <FaListOlIcon />
    </button>

    <button class="toolbar-btn" data-trix-action="decreaseNestingLevel">
      {/* @ts-ignore - Icon import in Astro is borked, but works. */}
      <FaOutdentIcon />
    </button>

    <button class="toolbar-btn" data-trix-action="increaseNestingLevel">
      {/* @ts-ignore - Icon import in Astro is borked, but works. */}
      <FaIndentIcon />
    </button>

    <button class="toolbar-btn" data-trix-action="attachFiles">
      {/* @ts-ignore - Icon import in Astro is borked, but works. */}
      <FaPaperclipIcon />
    </button>

    <button class="toolbar-btn" data-trix-action="undo">
      {/* @ts-ignore - Icon import in Astro is borked, but works. */}
      <FaUndoIcon />
    </button>

    <button class="toolbar-btn" data-trix-action="redo">
      {/* @ts-ignore - Icon import in Astro is borked, but works. */}
      <FaRedoIcon />
    </button>
  </div>
</section>

<style>
    /* This is needed to use Tailwind's @apply in v5 */
    @reference "@/styles/global.css";

    .toolbar-btn {
      @apply flex items-center justify-center w-8 h-8 rounded-full hover:bg-(--color-paper) active:bg-(--color-paper) [&:hover>svg]:!fill-(--color-deep-grey) [&:active>svg]:!fill-(--color-deep-grey) flex-shrink-0;

      &[data-trix-active] {
        @apply relative;

        &::after {
          @apply content-[''] absolute -bottom-[2px] left-1/2 -translate-x-1/2 w-1 h-1 bg-(--color-deep-grey) rounded-full;
        }

        & svg {
          @apply fill-(--color-deep-grey);
        } 
      }

      & svg {
        @apply w-5 h-5 fill-(--color-pebble-grey);
      }
    }
</style>
