---
import { db, eq, Notes, and } from "astro:db";
import { z } from "zod";
import Layout from "@/layouts/Layout.astro";
import IconButton from "@/components/IconButton.astro";
import FaQuestionIcon from "@fortawesome/fontawesome-free/svgs/solid/question.svg";
import Tab from "@/components/TabBar/Tab.astro";

const { id } = Astro.params;

if (!id || z.number({ coerce: true }).safeParse(id).success === false) {
  return Astro.redirect("/dashboard/notes");
}

const numericId = parseInt(id);
const currentUser = Astro.locals.auth();
const userId = currentUser ? currentUser.userId : null;

if (!userId) {
  return Astro.redirect("/login");
}

const notes = await db
  .select()
  .from(Notes)
  .where(and(eq(Notes.id, numericId), eq(Notes.userId, userId as string)))
  .limit(1);

if (!notes.length) {
  return Astro.redirect("/dashboard/notes");
}

const noteData = notes[0];
---

<Layout title="Note">
  <main
    class="max-w-screen-sm mx-auto px-6 py-12 grid grid-rows-[auto_1fr] gap-3"
  >
    <div class="flex items-center gap-2">
      <Tab label="Feed" href="#" />
      <Tab label="Search" href="#" />
      <Tab label="Thread" href="#" />
      <Tab label="Note" href="#" />
    </div>

    <section class="px-1 py-2 flex items-center gap-2">
      <IconButton size="md">
        <FaQuestionIcon />
      </IconButton>
      <h1 class="text-title">{noteData.title || "Untitled Note"}</h1>
    </section>

    <section class="text-body whitespace-pre-wrap px-6 py-5 bg-(--color-light-paper) rounded-xl">{noteData.content}</section>

    <section class="px-1 py-2 flex items-center justify-end gap-2">
      <p class="text-caption text-(--color-stone-grey) w-fit">{noteData.createdAt.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' })}</p>
    </section>
    
  </main>
</Layout>
